include *.pkl
include *.py

include ride_model/*.py
include ride_model/pipeline.pkl
include ride_model/VERSION

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

exclude Dockerfile
exclude Pipfile
exclude Pipfile.lock
exclude app.py
exclude test.py
