[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
flask = "*"
pandas = "*"
mlflow = "*"
boto3 = "*"
ride-duration-prediction = "==0.1.0"

[dev-packages]
jupyter = "*"
notebook = "*"
requests = "*"
pipenv-setup = "*"
twine = "*"
build = "*"

[requires]
python_version = "3.9"
